# Imposta il comportamento di default per tutti i file di testo
* text=auto

# Questi file dovrebbero sempre avere fine riga LF
*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.sql text eol=lf
*.html text eol=lf
*.json text eol=lf
*.webmanifest text eol=lf
*.txt text eol=lf
*.md text eol=lf
.dockerignore text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
Dockerfile text eol=lf

# Questi file dovrebbero essere trattati come binari
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary