{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4 brand-heading"><span class="logbook-brand brand-heading__brand">LOGBOOK</span><span class="brand-heading__section">/ ALIMENTAZIONE</span></h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{{ url_for('nutrition.dieta') }}" class="btn btn-custom w-100 d-block">DIETA</a>
        <a href="{{ url_for('nutrition.alimenti') }}" class="btn btn-custom w-100 d-block">ALIMENTI</a>
        <a href="{{ url_for('nutrition.macros') }}" class="btn btn-custom w-100 d-block">MACROS</a>
        <a href="{{ url_for('nutrition.tracking') }}" class="btn btn-custom w-100 d-block">TRACKING</a>
        <a href="{{ url_for('nutrition.diario_alimentare') }}" class="btn btn-custom w-100 d-block">DIARIO ALIMENTARE</a>
    </div>
</div>

<div class="sticky-bottom-nav">
    <!-- MODIFICA QUI -->
    <a href="{{ url_for('main.home') }}" class="btn btn-custom full-width-btn">INDIETRO</a>
</div>
{% endblock %}