{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4"><span class="logbook-brand">LOGBOOK</span> - PALESTRA</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="{{ url_for('gym.sessione_palestra') }}" class="btn btn-custom w-100 d-block">SESSIONE PALESTRA</a>
        <a href="{{ url_for('gym.scheda') }}" class="btn btn-custom w-100 d-block">SCHEDA</a>
        <a href="{{ url_for('gym.esercizi') }}" class="btn btn-custom w-100 d-block">ESERCIZI</a>
        <a href="{{ url_for('gym.diario_palestra') }}" class="btn btn-custom w-100 d-block">DIARIO PALESTRA</a>
    </div>
</div>

<div class="sticky-bottom-nav">
    <a href="{{ url_for('main.allenamento') }}" class="btn btn-custom full-width-btn">INDIETRO</a>
</div>

{% endblock %}